@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.navbar-brand {
    font-weight: 900;
    font-size: 28px;
    color: teal !important;
    text-transform: uppercase;
    letter-spacing: 2px !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: teal !important;
}

h1,
th {
    color: teal !important;
}

label {
    color: teal !important;
}

.btn-outline-secondary {
    color: teal;
    border-color: teal;
}

.btn-outline-secondary:hover {
    color: white;
    border-color: teal;
    background-color: teal;
}

.btn-primary {
    background-color: teal !important;
    border-color: teal !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: black !important;
    border-color: black !important;
}

table thead tr th {
    text-transform: uppercase;
}

table tbody tr .action {
    white-space: nowrap;
}

table tbody tr .action a {
    margin: 0 auto;
    display: inline-block;
    padding: 0 2px;
    text-decoration: none;
}

table tbody tr .action .edit {
    background-color: #198754;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}

table tbody tr .action .delete {
    background-color: #dc3545;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}

table tbody tr .action .view {
    background-color: teal;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 12px;
}

table td {
    font-size: 15px;
}

/* table tbody tr .action a i {
    padding: 0 5px;
} */

div.dataTables_wrapper div.dataTables_filter input {
    border: 2px solid teal;
    outline: none;
    border-radius: 5px;
}

.alert {
    padding: 5px 10px;
    margin-top: 5px;
}